In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams['font.sans-serif']=['SimHei'] #用来正常显示中文标签
plt.rcParams['axes.unicode_minus']=False #
file0= pd.read_csv('/home/liuli/OBS_ZZ/coads.csv',sep=',',encoding='ISO-8859-1')
df0=pd.DataFrame(file0)

In [2]:
print(df0.head(5))

   YEAR  MONTH  DAY  HOUR  LONGITUDE  LATITUDE  BOX10  BOX5  DECK  PT  ...    \
0  1950      1   21    18      327.0      62.0    102     2   116   3  ...
1  1950      1   21    21      327.0      62.0    102     2   116   3  ...
2  1950      1   22     0      327.0      62.0    102     2   116   3  ...
3  1950      1   22     3      327.0      62.0    102     2   116   3  ...
4  1950      1   22     6      327.0      62.0    102     2   116   3  ...

   MC  HC    H  DP03  WH   WP  SH  SD  SP  ODATE
0   0   0  4.0  -0.4 NaN  7.0 NaN NaN NaN    NaN
1   0   0  4.0  -0.1 NaN  7.0 NaN NaN NaN    NaN
2   0   0  4.0   0.0 NaN  7.0 NaN NaN NaN    NaN
3   0   0  4.0  -0.1 NaN  7.0 NaN NaN NaN    NaN
4   0   0  4.0  -0.2 NaN  7.0 NaN NaN NaN    NaN

[5 rows x 34 columns]

In [3]:
print(df0.tail(5))

           YEAR  MONTH  DAY  HOUR  LONGITUDE  LATITUDE  BOX10  BOX5  DECK  PT  \
100103479  1995     12    9     4      137.0     -63.6    551     4   714   7
100103480  1995     12    9     8      137.0     -63.6    551     4   714   7
100103481  1995     12    9     9      137.0     -63.6    551     4   714   7
100103482  1995     12    9    13      137.1     -63.6    551     4   714   7
100103483  1995     12    9    14      137.1     -63.6    551     4   714   7

           ...    MC  HC   H  DP03  WH  WP  SH  SD  SP  ODATE
100103479  ...     0   0 NaN   NaN NaN NaN NaN NaN NaN    NaN
100103480  ...     0   0 NaN   NaN NaN NaN NaN NaN NaN    NaN
100103481  ...     0   0 NaN   NaN NaN NaN NaN NaN NaN    NaN
100103482  ...     0   0 NaN   NaN NaN NaN NaN NaN NaN    NaN
100103483  ...     0   0 NaN   NaN NaN NaN NaN NaN NaN    NaN

[5 rows x 34 columns]

In [5]:
print(df0.columns)

Index(['YEAR', 'MONTH', 'DAY', 'HOUR', 'LONGITUDE', 'LATITUDE', 'BOX10',
       'BOX5', 'DECK', 'PT', 'WD', 'WS', 'VIS', 'WW', 'W1', 'W2', 'SLP', 'AT',
       'WBT', 'TD', 'SST', 'N', 'NH', 'LC', 'MC', 'HC', 'H', 'DP03', 'WH',
       'WP', 'SH', 'SD', 'SP', 'ODATE'],
      dtype='object')

In [6]:
file1= pd.read_csv('/home/liuli/OBS_ZZ/ZH_OCEA02_LAYS.csv',sep=',',encoding='ISO-8859-1')
df1=pd.DataFrame(file1)

In [7]:
print(df1.head(5))

        OID  YEAR  MONTH  DAY  HOUR  MINUTE              ODATE      LDATE  \
0  Q9900395  2011      3   29     6      20  2011/3/29 6:20:00  2011/3/29
1  Q9900395  2011      3   29     6      20  2011/3/29 6:20:00  2011/3/29
2  Q9900395  2011      3   29     6      20  2011/3/29 6:20:00  2011/3/29
3  Q9900395  2011      3   29     6      20  2011/3/29 6:20:00  2011/3/29
4  Q9900395  2011      3   29     6      20  2011/3/29 6:20:00  2011/3/29

   LTIME  LATITUDE  ...      ST     SS  SFD  SFS  Q_DEPTH  Q_ST  Q_SS  Q_SFD  \
0      6    -72.75  ...   -1.88  34.42  NaN  NaN       70    70    70      0
1      6    -72.75  ...   -1.87  34.42  NaN  NaN       70    70    70      0
2      6    -72.75  ...   -1.88  34.42  NaN  NaN       70    70    70      0
3      6    -72.75  ...   -1.88  34.42  NaN  NaN       70    70    70      0
4      6    -72.75  ...   -1.88  34.42  NaN  NaN       70    70    70      0

   Q_SFS  STAMP
0      0    NaN
1      0    NaN
2      0    NaN
3      0    NaN
4      0    NaN

[5 rows x 23 columns]

In [8]:
print(df1.tail(5))

             OID  YEAR  MONTH  DAY  HOUR  MINUTE                ODATE  \
231518353  42934  2017     12   31    23      59  2017/12/31 23:59:00
231518354  42934  2017     12   31    23      59  2017/12/31 23:59:00
231518355  42934  2017     12   31    23      59  2017/12/31 23:59:00
231518356  42934  2017     12   31    23      59  2017/12/31 23:59:00
231518357  42934  2017     12   31    23      59  2017/12/31 23:59:00

              LDATE  LTIME  LATITUDE  ...    ST  SS   SFD   SFS  Q_DEPTH  \
231518353  2018/1/1      0    28.367  ...   NaN NaN  60.0  0.09       70
231518354  2018/1/1      0    28.367  ...   NaN NaN  50.0  0.11       70
231518355  2018/1/1      0    28.367  ...   NaN NaN  60.0  0.11       70
231518356  2018/1/1      0    28.367  ...   NaN NaN  80.0  0.10       70
231518357  2018/1/1      0    28.367  ...   NaN NaN  70.0  0.15       70

           Q_ST  Q_SS  Q_SFD  Q_SFS  STAMP
231518353     0     0     70     70    NaN
231518354     0     0     70     70    NaN
231518355     0     0     70     70    NaN
231518356     0     0     70     70    NaN
231518357     0     0     70     70    NaN

[5 rows x 23 columns]

In [9]:
print(df1.columns)

Index(['OID', 'YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'ODATE', 'LDATE',
       'LTIME', 'LATITUDE', 'LONGITUDE', 'TYPE', 'DEPTH', 'ST', 'SS', 'SFD',
       'SFS', 'Q_DEPTH', 'Q_ST', 'Q_SS', 'Q_SFD', 'Q_SFS', 'STAMP'],
      dtype='object')