#主要是针对每个站点的每个要素统计有效数据情况

In [1]:
import numpy as np
import os
import matplotlib.pyplot as plt
import glob
import datetime
import pandas as pd
data_path='/home/liuli/GTS_GFS_MOS/domestic_hourly_data/df_final_2400.csv'
file0= pd.read_csv(data_path,sep=',')
df0=pd.DataFrame(file0)
df0=df0.replace(999999.0, np.nan) 
df0=df0.replace(999998.0, np.nan)
df0=df0.replace(9999.0, np.nan)
df0['sta']=df0['sta'].astype('str')
#df0['sta']=df0['sta'].replace('NaN','53603')
df0['time']=pd.DatetimeIndex(df0['time'])

print(df0.info())
print(df0.count())
df0

/home/liuli/anaconda3/envs/MOS/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32739857 entries, 0 to 32739856
Data columns (total 14 columns):
time    datetime64[ns]
sta     object
ht      float64
lat     float64
lon     float64
pr1     float64
pr24    float64
pr6     float64
ps      float64
psl     float64
t2m     float64
td      float64
wdir    float64
wspd    float64
dtypes: datetime64[ns](1), float64(12), object(1)
memory usage: 3.4+ GB
None
time    32739857
sta     32739857
ht      10592247
lat     10983931
lon     10983931
pr1        46887
pr24     7789932
pr6      7796717
ps      10434547
psl     10562537
t2m     10922810
td      10503844
wdir    10911040
wspd    10918410
dtype: int64

,time,sta,ht,lat,lon,pr1,pr24,pr6,ps,psl,t2m,td,wdir,wspd
0,2018-01-01 00:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1013.6,1021.5,15.9,12.1,120.0,2.0
1,2018-01-01 01:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1014.3,1022.1,17.3,11.5,130.0,2.0
2,2018-01-01 02:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1014.4,1022.2,17.0,11.3,130.0,3.0
3,2018-01-01 03:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1013.6,1021.5,17.6,11.6,130.0,3.0
4,2018-01-01 04:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1013.3,1021.1,17.9,11.7,120.0,3.0
5,2018-01-01 05:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1012.1,1019.8,18.8,12.4,130.0,3.0
6,2018-01-01 06:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1011.0,1018.7,18.7,12.1,140.0,2.0
7,2018-01-01 07:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1010.8,1018.5,19.1,12.3,110.0,2.0
8,2018-01-01 08:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1010.8,1018.5,17.8,12.2,120.0,2.0
9,2018-01-01 09:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1011.0,1018.8,16.8,12.1,120.0,3.0
10,2018-01-01 10:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1011.5,1019.3,16.2,12.4,130.0,2.0
11,2018-01-01 11:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1012.1,1020.0,16.1,12.5,120.0,2.0
12,2018-01-01 12:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1012.7,1020.6,16.0,12.4,90.0,2.0
13,2018-01-01 13:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1013.3,1021.1,16.3,12.5,999997.0,1.0
14,2018-01-01 14:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1013.3,1021.1,16.5,12.5,100.0,2.0
15,2018-01-01 15:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1013.3,1021.1,16.5,12.7,110.0,3.0
16,2018-01-01 16:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1013.2,1021.1,16.5,12.9,110.0,3.0
17,2018-01-01 17:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1013.0,1020.8,16.6,12.9,120.0,3.0
18,2018-01-01 18:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1012.7,1020.6,16.4,12.2,80.0,2.0
19,2018-01-01 19:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1011.9,1019.7,15.9,12.3,70.0,1.0
20,2018-01-01 20:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1011.8,1019.6,15.6,12.1,80.0,2.0
21,2018-01-01 21:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1011.6,1019.5,15.2,12.3,999997.0,1.0
22,2018-01-01 22:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1011.8,1019.6,15.2,12.1,130.0,1.0
23,2018-01-01 23:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1012.0,1019.8,15.4,11.9,60.0,1.0
24,2018-01-02 00:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1013.4,1021.2,17.2,13.1,130.0,3.0
25,2018-01-02 01:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1013.7,1021.6,17.7,13.3,130.0,2.0
26,2018-01-02 02:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1013.2,1021.1,19.0,12.2,130.0,4.0
27,2018-01-02 03:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1012.8,1020.5,19.3,12.4,130.0,3.0
28,2018-01-02 04:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1011.1,1018.8,19.4,12.1,130.0,4.0
29,2018-01-02 05:00:00,45004,66.4,22.31,114.17,NaN,0.0,0.0,1010.6,1018.3,19.0,11.4,120.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32739827,2018-12-30 19:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739828,2018-12-30 20:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739829,2018-12-30 21:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739830,2018-12-30 22:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739831,2018-12-30 23:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739832,2018-12-31 00:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739833,2018-12-31 01:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739834,2018-12-31 02:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739835,2018-12-31 03:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739836,2018-12-31 04:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739837,2018-12-31 05:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739838,2018-12-31 06:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739839,2018-12-31 07:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739840,2018-12-31 08:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739841,2018-12-31 09:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739842,2018-12-31 10:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739843,2018-12-31 11:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739844,2018-12-31 12:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739845,2018-12-31 13:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739846,2018-12-31 14:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739847,2018-12-31 15:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739848,2018-12-31 16:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739849,2018-12-31 17:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739850,2018-12-31 18:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739851,2018-12-31 19:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739852,2018-12-31 20:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739853,2018-12-31 21:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739854,2018-12-31 22:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739855,2018-12-31 23:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32739856,2019-01-01 00:00:00,22185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
start='2018-01-01 00:00:00'
end_of_db = '2019-01-01 00:00:00'
date_index = pd.date_range(start, end_of_db, freq = '3h')
date_df = pd.DataFrame(date_index,columns=['time'])
df0 = pd.merge(date_df,df0, on=['time'], how='left') 
#print(date_df)
#申明一个不重复站点的df
df_qc=df0.drop_duplicates(subset = ['sta'],keep='first',inplace=False)
print(df_qc)

           time      sta      ht    lat     lon  pr1      pr24  pr6      ps  \
0    2018-01-01    45004    66.4  22.31  114.17  NaN       0.0  0.0  1013.6
1    2018-01-01    45005    31.7  22.30  114.17  NaN       0.0  0.0  1016.7
2    2018-01-01     FVNM     NaN   7.30  134.50  NaN       NaN  NaN     NaN
3    2018-01-01    52006     NaN   8.10  165.10  NaN       NaN  NaN     NaN
4    2018-01-01  5200006     NaN   8.10  165.10  NaN       NaN  NaN     NaN
5    2018-01-01    56341  2487.0  29.77   99.01  0.0       NaN  NaN   752.9
6    2018-01-01    21547     NaN    NaN     NaN  NaN       NaN  NaN     NaN
7    2018-01-01     DBBE     NaN    NaN     NaN  NaN       NaN  NaN     NaN
8    2018-01-01    23095     NaN  10.46   94.01  NaN       NaN  NaN     NaN
9    2018-01-01    23460     NaN   6.57   88.21  NaN       NaN  NaN     NaN
10   2018-01-01    99217   210.0  39.63  124.45  0.0       0.0  0.0  1024.6
11   2018-01-01    54418     1.5  38.56  117.58  0.0       NaN  NaN  1026.4
12   2018-01-01    54544     5.2  39.57  119.28  0.0       NaN  NaN  1028.3
13   2018-01-01    54647     2.0  39.18  118.90  0.0       NaN  NaN  1028.4
14   2018-01-01    54720     4.0  38.46  117.71  0.0       NaN  NaN  1027.0
15   2018-01-01    54721     3.5  38.34  117.88  0.0       NaN  NaN  1026.7
16   2018-01-01     JPBN     NaN    NaN     NaN  NaN       NaN  NaN     NaN
17   2018-01-01    53321  1496.0  41.81  107.52  NaN       NaN  NaN   849.2
18   2018-01-01     JGQH     NaN    NaN     NaN  NaN       NaN  NaN     NaN
19   2018-01-01    54655   122.4  38.39  120.91  0.0       NaN  NaN  1013.7
20   2018-01-01  2800401     NaN    NaN     NaN  NaN       NaN  NaN     NaN
21   2018-01-01  2300008     NaN  12.04   88.79  NaN       NaN  NaN     NaN
22   2018-01-01    23459     NaN    NaN     NaN  NaN       NaN  NaN     NaN
23   2018-01-01    57403   354.0  30.59  105.23  0.0       0.0  0.0   978.6
24   2018-01-01    51862   857.0  38.70   87.41  0.0       NaN  NaN   908.9
25   2018-01-01     VWFQ     NaN  13.10   80.30  NaN       NaN  NaN     NaN
26   2018-01-01    54773    25.9  37.41  122.59  0.0       NaN  NaN  1025.4
27   2018-01-01    51158   573.0  46.34   86.22  0.0       NaN  NaN   965.2
28   2018-01-01    51523     NaN    NaN     NaN  NaN       NaN  NaN     NaN
29   2018-01-01    51323  1903.0  44.96   80.58  0.0       NaN  NaN   812.4
...         ...      ...     ...    ...     ...  ...       ...  ...     ...
3707 2018-01-01    98558    60.0  11.03  125.75  NaN      35.7  NaN  1002.3
3708 2018-01-01    98646    24.0  10.32  123.97  NaN  999990.0  NaN  1006.2
3709 2018-01-01    98648    72.0  10.13  124.85  NaN       4.8  NaN  1001.8
3710 2018-01-01    98653    55.0   9.77  125.48  NaN      29.7  NaN  1005.2
3711 2018-01-01  AMOHK02     NaN   7.30  136.40  NaN       NaN  NaN     NaN
3712 2018-01-01    46770     NaN    NaN     NaN  NaN       NaN  NaN     NaN
3713 2018-01-01    52200     NaN  13.40  144.80  NaN       NaN  NaN     NaN
3714 2018-01-01    52087     NaN    NaN     NaN  NaN       NaN  NaN     NaN
3715 2018-01-01    52003     NaN   5.00  164.90  NaN       NaN  NaN     NaN
3716 2018-01-01    52202     NaN  13.70  144.80  NaN       NaN  NaN     NaN
3717 2018-01-01    52201     NaN   7.10  171.40  NaN       NaN  NaN     NaN
3718 2018-01-01    22103     NaN  34.00  127.50  NaN       NaN  NaN     NaN
3719 2018-01-01    22102     NaN  34.79  125.78  NaN       NaN  NaN     NaN
3720 2018-01-01    22105     NaN  37.54  130.00  NaN       NaN  NaN     NaN
3721 2018-01-01    22101     NaN  37.24  126.02  NaN       NaN  NaN     NaN
3722 2018-01-01    21229     NaN  37.46  131.11  NaN       NaN  NaN     NaN
3723 2018-01-01    22104     NaN  34.77  128.90  NaN       NaN  NaN     NaN
3724 2018-01-01  5200087     NaN   7.87  136.50  NaN       NaN  NaN     NaN
3725 2018-01-01    22187     NaN  33.13  127.02  NaN       NaN  NaN     NaN
3726 2018-01-01    22186     NaN  35.66  125.81  NaN       NaN  NaN     NaN
3727 2018-01-01    22188     NaN  34.39  128.23  NaN       NaN  NaN     NaN
3728 2018-01-01    22190     NaN  36.91  129.87  NaN       NaN  NaN     NaN
3729 2018-01-01    22189     NaN  35.35  129.84  NaN       NaN  NaN     NaN
3730 2018-01-01  5200003     NaN   5.00  164.90  NaN       NaN  NaN     NaN
3731 2018-01-01    22107     NaN  33.08  126.03  NaN       NaN  NaN     NaN
3732 2018-01-01    22106     NaN  36.35  129.78  NaN       NaN  NaN     NaN
3733 2018-01-01    22108     NaN  36.25  125.75  NaN       NaN  NaN     NaN
3734 2018-01-01    22184     NaN  33.79  126.14  NaN       NaN  NaN     NaN
3735 2018-01-01    22183     NaN  34.73  126.24  NaN       NaN  NaN     NaN
3736 2018-01-01    22185     NaN  37.09  125.43  NaN       NaN  NaN     NaN

         psl    t2m     td   wdir  wspd
0     1021.5  15.90  12.10  120.0   2.0
1     1021.5  16.60  12.90   80.0   4.0
2     1008.4  29.00  23.90  190.0   2.0
3        NaN  28.40    NaN   70.0   6.0
4        NaN  28.42  24.10   68.0   5.8
5     1016.1   4.20 -15.70  198.0   1.8
6        NaN    NaN    NaN    NaN   NaN
7        NaN    NaN    NaN    NaN   NaN
8     1008.2  28.00    NaN   90.0   9.0
9     1007.3  25.50    NaN   80.0   5.0
10    1082.4 -12.00   0.00   64.0   2.3
11    1026.7  -3.20  -6.50   39.0   1.8
12    1029.1  -0.80  -9.00   73.0   9.8
13    1028.8  -4.10  -6.10   65.0   3.6
14    1027.7  -0.10  -4.50   97.0   2.0
15    1027.3  -1.10  -5.20  152.0   1.6
16       NaN    NaN    NaN    NaN   NaN
17    1032.1 -15.30 -19.70  155.0   3.4
18       NaN    NaN    NaN    NaN   NaN
19    1029.3   2.30  -7.90  341.0   1.3
20       NaN    NaN    NaN    NaN   NaN
21       NaN  27.70    NaN  156.0   3.0
22       NaN    NaN    NaN    NaN   NaN
23    1021.9   3.10   2.40  205.0   1.1
24       NaN -13.10    NaN   57.0   1.1
25    1008.3  24.00    NaN  320.0   4.0
26    1028.9   1.20 -12.90  218.0   2.0
27       NaN -14.30    NaN   85.0   0.7
28       NaN    NaN    NaN    NaN   NaN
29       NaN -14.60    NaN  190.0   1.0
...      ...    ...    ...    ...   ...
3707  1009.1  26.00  25.10   30.0   9.0
3708  1009.0  25.40  24.10   30.0   4.0
3709  1010.0  24.00  23.80   60.0   2.0
3710  1009.7  25.00  24.80   60.0   2.0
3711  1008.5    NaN    NaN    NaN   NaN
3712     NaN    NaN    NaN    NaN   NaN
3713     NaN    NaN    NaN    NaN   NaN
3714     NaN    NaN    NaN    NaN   NaN
3715     NaN  26.30    NaN    NaN   7.0
3716     NaN    NaN    NaN    NaN   NaN
3717     NaN    NaN    NaN    NaN   NaN
3718  1027.0   5.00    NaN  348.0   6.0
3719  1028.1   5.60    NaN  312.0   7.7
3720  1023.1   2.80    NaN  306.0   8.4
3721  1028.3   2.90    NaN   18.0   4.4
3722  1021.6   4.90    NaN  343.0  10.0
3723  1025.7   3.90    NaN  355.0   9.2
3724  1008.4  29.40    NaN  149.0   4.5
3725  1027.3   7.70    NaN    3.0   7.8
3726  1030.0   5.20    NaN  356.0   6.6
3727  1026.7   3.80    NaN  322.0   3.9
3728  1023.7   4.30    NaN  335.0   6.8
3729  1023.4   5.60    NaN  332.0  13.2
3730     NaN  26.27  24.14    NaN   7.3
3731  1028.0   7.30    NaN  355.0   6.7
3732  1023.7   3.30    NaN  313.0  12.5
3733  1028.4   3.80    NaN   50.0   4.8
3734  1027.1   5.80    NaN  331.0   6.2
3735  1027.8   3.20    NaN  100.0   1.5
3736  1009.8   2.70    NaN   41.0   3.9

[3737 rows x 14 columns]

In [3]:
#开始针每个站点的每个要素统计有效数字
name = 'statistics_valid_data_0.5.txt'
f=open(name,'w')
for i in df_qc['sta']:   
    df2=df0[df0['sta'].isin([i])] #先挑出这个站号的行    
    df2=df2.reset_index(drop=True)
    #print(df2)  
    #print(df2)
    
    for co in df2.columns[5:]:   #去掉前几个站点位置属性信息     
        num=df2[co].count()
        rate=num/len(df2)
        if rate>=0.5: 
            line=[]
            line=str(i)+'\t'+str(co)+'\t'+str(rate)+'\n'
            f.write(line)
        #把每种要素的有效率结果存入文件
        #print(i,co,rate)
    del df2